.firstName,
.lastName {
  display: flex;
  gap: 0.3rem;
  width: 15%;
  cursor: pointer;
  border-bottom: 2px solid rgb(239, 239, 239);
  height: 2rem;
  user-select: none;
  max-width: 15%;
  min-width: 15%;
  align-items: center;


  &:hover {
    text-shadow: 2px 3px 6px lightgreen;
  }
}

.email {
  display: flex;
  gap: 0.3rem;
  width: 17%;
  border-bottom: 2px solid rgb(239, 239, 239);
  height: 2rem;
  user-select: none;
  cursor: pointer;
  max-width: 17%;
  min-width: 17%;
  align-items: center;

  &:hover {
    text-shadow: 2px 3px 6px lightgreen;
  }
}

.country {
  display: flex;
  gap: 0.3rem;
  user-select: none;
  width: 25%;
  min-width: 5rem;
  border-bottom: 2px solid rgb(239, 239, 239);
  height: 2rem;
  cursor: pointer;
  max-width: 25%;
  min-width: 25%;
  align-items: center;

  &:hover {
    text-shadow: 2px 3px 6px lightgreen;
  }
}